.news ul div{
    background-color: #00CC66;
    height: 30px;
    padding: 4px;
    color: white;
    font-weight: bold;
}
.news ul li a{
   color: black;
}
.news ul li a:hover{
   color: #00CC66;
}
.news ul{
   background-color: #F2F2F2;
   padding: 10px;
}
.news .cart{
   position: relative;
}
.news span.discount{
   position: absolute;
   top: 1px;
   right: 31px;
   background-color: #FFC000;
   width: 51px;
   height: 36px;
   border-radius: 16px;
   color: white;
   font-weight: bold;
}
